@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
  body {
  padding-top: 70px;
  background:#0a6bb552 ;
  opacity: 80%;
}

  body::-webkit-scrollbar {
  width: 7.5px;
}
 
  body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
  body::-webkit-scrollbar-thumb {
  background-color: #0a6bb552;
  outline: 2px solid rgba(0, 0, 0, 0.473);
}


.backgroundjumbo {
  background-color: #ffffffd0;
  width: 450px;
  padding: 25px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  border-radius: 5px;
}

  a {
  color:#f0f8ff;

}

  a:hover{
  color:#fec136;
}

  footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0,0, 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

  nav {
  width: 100%;
}
  .navimg{
  border-radius: 50%;
  width: 80px;
}

.loginimg{
  border-radius: 50%;
  width: 280px;
}

  hr.yellow{
  background-color: #0a6bb552;
}



  input[type="text"] {
  background-color: #ffffff93;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

  input[type="text"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}

input[type="password"] {
  background-color: #ffffffa6;
  outline: none;
  color: #000000;
  border: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

  input[type="password"]:focus {
  background-color: #ece1e18e;
  /* border: none; */
  outline: none;
}